<%= react_component('CiudadContainer',{ ciudadesPath: all_cities_api_v1_ciudad_index_path(), createPath: api_v1_ciudad_index_path() }) %>

<!-- <div class="row">
   <div class="col-lg-4"></div>
   <div class="col-lg-4">
      <div class="portlet">
         <div>
            <div class="portlet-body">
               <div class="table-responsive">
                   <table class="table">
                       <thead>
                           <tr>
                               <th>#</th>
                               <th>Ciudad</th>
                               <th>Country Code</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>1</td>
                               <td>Velonic Admin v1</td>
                               <td>01/01/2015</td>
                           </tr>                        
                       </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-4"></div>
</div> -->